<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Демо Bootstrap</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="new/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="new/css/fontello.css">
  <link rel="stylesheet" href="new/css/style.css">
</head>
<body>
<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-black">Получение прогноза погоды</h1>
        <div class="itd_start" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="itd_triangle"></div>
        </div>
        <a href="#footer" class="btn btn-itd btn-lg text-uppercase">Получить прогноз погоды</a>

      </div>
    </div>
  </div>
</header>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-uppercase color1 mb-5">О сайте</h2>
      </div>
    </div>
  </div>
</section>
<div></div>
<footer id="footer">
</footer>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Получение прогноза погоды любым удобным способом</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input id="city_value" type="text" class="form-control" aria-label="Default"
               aria-describedby="inputGroup-sizing-default">
        <br>
        <div class="d-flex justify-content-center">
          <button texttype="button" class="btn btn-outline-success" onclick="get_weather()">Отправить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/bootstrap.bundle.min.js"></script>
</body>
<script>
    function get_weather() {
        let city = document.getElementById('city_value').value;
        $.ajax({
            url: '/get_weather/',
            type: 'GET',
            dataType: 'json',
            data: {'city': city},

        });
        location.href = window.location.href;
    }
</script>
</html>